:root {
  /* Colors */

  /* Primary Colors */
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);

  /* Neutral Colors */
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: url("../images/pattern-background-mobile.svg") no-repeat center
    center/cover;
  background-color: var(--Pale-blue);
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  max-width: 25rem;
  width: 100%;
  margin-block: auto;
  background-color: var(--Very-pale-blue);
  border-radius: 1rem;
}
.content {
  padding: 2rem;
}

.hero {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.title {
  font-size: 1.8rem;
  margin-block: 1rem;
  text-align: center;
}

.description {
  font-size: 1rem;
  color: var(--Desaturated-blue);
  text-align: center;
  margin-block: 1rem;
}
.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  background-color: var(--Pale-blue);
  border-radius: 0.5rem;
  width: 100%;
}
.music-icon {
  width: 50px;
  height: 50px;
}
.plan-price {
  display: flex;
  gap: 0.5rem;
}
.price {
  margin-top: 0.7rem;
}
.annual-plan {
  color: black;
  font-size: 0.9rem;
}

.annual-price {
  font-size: 0.75rem;
  color: var(--Desaturated-blue);
}
.change {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--Bright-blue);
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: underline;
  &:hover {
    font-weight: 700;
    color: hsla(245, 75%, 52%, 0.5);
    text-decoration: none;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  width: 90%;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--Bright-blue);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: hsla(245, 75%, 52%, 0.5);
}
.cancel {
  color: var(--Desaturated-blue);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    color: var(--Dark-blue);
  }
}
